<html>
<body style="font-family: sans-serif;">
<div style="white-space: pre;background-color: #EEF4ED;">using System;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.Text;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.IO;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using TicTacToe.Model;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">namespace TicTacToe.View</div>
<div style="white-space: pre;background-color: #EEF4ED;">{</div>
<div style="white-space: pre;background-color: #EEF4ED;">    public class ConsoleView</div>
<div style="white-space: pre;background-color: #EEF4ED;">    {</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string emptyBoardString = &quot;A1 | A2 | A3\nB1 | B2 | B3\nC1 | C2 | C3&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void DisplayInstructions(string instructions)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(instructions);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void DisplayBoard(Board board)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            if (board.IsEmpty())</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                Console.WriteLine(emptyBoardString);</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #EEF4ED;">            else</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                Console.WriteLine(&quot;X |  |  \n  |  |  \n  |  |  &quot;);</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public string GetDisplaySquare(Square square)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            return &quot;| X |&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public Square GetSquareToPlayOn(Board board)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            string squareValue = Console.ReadLine();</div>
<div style="white-space: pre;background-color: #D2EACE;">            Square square = null;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">            try</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                square = board.GetSquare(squareValue);</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #D2EACE;">            catch (NoSuchSquareException)</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                Console.WriteLine(&quot;Square does not exist!&quot;);</div>
<div style="white-space: pre;background-color: #D2EACE;">                DisplayInstructions(&quot;Please pick an actual square: &quot;);</div>
<div style="white-space: pre;background-color: #D2EACE;">                GetSquareToPlayOn(board);</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #D2EACE;">            return square;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">    }</div>
<div style="white-space: pre;background-color: #EEF4ED;">}</div>
</body>
</html>
