<html>
<body style="font-family: sans-serif;">
<div style="white-space: pre;background-color: #EEF4ED;">using System;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.Text;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.IO;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">namespace TicTacToe.View</div>
<div style="white-space: pre;background-color: #EEF4ED;">{</div>
<div style="white-space: pre;background-color: #EEF4ED;">    public class ConsoleView</div>
<div style="white-space: pre;background-color: #EEF4ED;">    {</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void DisplayInstructions(string instructions)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(instructions);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">    }</div>
<div style="white-space: pre;background-color: #EEF4ED;">}</div>
</body>
</html>
